mysqlclient == 2.1.0
SQLAlchemy == 1.4.32
uvicorn == 0.17.6
fastapi == 0.75.0
PyMySQL == 0.9.3
alembic == 1.7.7
#GraphQL
# graphene == 2.1.9
# graphene-sqlalchemy == 2.3.0

python-multipart == 0.0.5
passlib == 1.7.4
python-jose == 3.3.0